@import '../../styles/main.scss';

.section__hero {
  position: relative;
  overflow: hidden;
  height: 370px;

  &--image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    @include large {
      position: relative;
      transform: translate(20%, -12%);
    }
  }

  @include medium {
    grid-column: 2 / 3;
    overflow: unset;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../../images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;

    @include medium {
      background: url('../../images/bg-intro-desktop.svg');
      background-position: 6% 100%;
      min-height: 50rem;
    }

    @include large {
      background-position: 10% 100%;
    }
  }
}

.section_hero--image-wrapper {
  @include medium {
    display: none;
  }
  
  @include large {
    display: block;
    overflow: hidden;
  }
}

.section__details,
.section__info,
.section__articles {
    padding: 3rem 1.5rem;

    @include medium-nav {
      padding: 3rem 2rem;
    }
}

.section__details {
  @include medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    min-height: 40rem;
  }
}

.section__info {
  background: $light-grayish-blue;

  @include medium {
    padding-top: 7rem;
  }
}

.section__icons {
  padding-bottom: 1rem;
}

.section__text--wrapper {
  height: 100%;
}

.section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;

  @include medium {
    justify-content: stretch;
    align-items: flex-start;
    padding: 0;
  }
}

.text {
  font-size: 1rem;
  line-height: 1.8;
  padding: 0.8rem 0;
  color: $grayish-blue;
  text-align: center;

  &--left {
    text-align: left;
  }

  @include medium {
    text-align: left;
    max-width: 60ch;
    padding: 1rem 0;
  }
}

.section__articles {
  background: $very-light-gray;

  @include medium {
    padding-top: 6rem;
  }

  &--item {
    display: block;
    padding: 1.5rem 0;

    @include medium {
      display: flex;
      flex-direction: column;
    }
  }

  &--text {
    padding: 1.25rem;
    background: $white;
    height: 100%;
  }

  &--heading {
      font-size: 1.3rem;
      font-weight: 300;
      line-height: 26px;
      color: $dark-blue;
      padding: 0.5rem 0;
    
      @include medium {
        font-size: 1.2rem;
      }
  }

  &--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;

    // set height of 0, padding-bottom and position of relative 
    // in order to have the same aspect ratio. Image must be wrapped in two divs
    &-wrapper {
      &-outer {
        padding-bottom: 70%;
        height: 0;
        position: relative;
      }
  
      &-inner {
        position: absolute;
        inset: 0; // shortcut for top + bottom + left + right of 0
      }
    }
  }

  &--author {
    color: $grayish-blue;
    font-size: 0.8rem;
  }
}

@include medium {
  .section__wrapper--desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section__details {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 40ch;
  }

  .section__items--desktop-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding-top: 4rem;
  }
}