@import '../../styles/main.scss';

.section__hero {
  position: relative;
  height: 370px;

  @include medium {
    grid-column: 2 / 3;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../../images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../../images/image-mockups-mobile.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: contain;
  }
}

.section__details,
.section__info,
.section__articles {
    padding: 3rem 1.5rem;
}

.section__info {
  background: $light-grayish-blue;
}

.section__icons {
  padding-bottom: 1rem;
}

.section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;

  @include medium {
    align-items: flex-start;
  }
}

.text {
  font-size: 1rem;
  padding: 0.8rem 0;
  color: $grayish-blue;
  text-align: center;

  &--left {
    text-align: left;
  }

  @include medium {
    text-align: left;
  }
}

.section__articles {
  background: $very-light-gray;

  &--item {
    padding: 1.5rem 0;

    @include medium {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  &--text {
    padding: 1.25rem;
    background: $white;
  }

  &--image {
    border-radius: 5px 5px 0 0;

    @include medium {
      flex: 1;
    }
  }

  &--author {
    color: $grayish-blue;
    font-size: 0.8rem;
  }
}

@include medium {
  .section__wrapper--desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section__details {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 40ch;
  }

  .section__items--desktop-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.9rem;
  }
}
