@import '../../styles/main.scss';

header {
  padding: 1.5rem;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  position: relative;
  visibility: hidden;

  &--open {
    visibility: visible;
  }

  &__list {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transform: translate(5%, 12%);
    z-index: 9999;
    padding: 3rem;
    font-size: 1.3rem;
    border-radius: 5px;
    width: 80vw;
  }

  &__item {
    margin-bottom: 0.8rem;
  }

  &__link {
    display: block;
    text-align: center;
    color: $dark-blue;
  }
}

.nav__icon--open {
  display: block;
}

.nav__icon--close {
  display: none;
}


.nav__btn--open {
  .nav__icon--open {
    display: none;
  }

  .nav__icon--close {
    display: block;
  }
}
