@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

body {
  font-size: $font-size;
  font-family: 'Public Sans', sans-serif;
}

:focus-visible {
  outline: 2px dotted $sand;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
}

h1, 
h2, 
h3 {
  text-align: center;
  font-weight: 300;
  color: $dark-blue;

  @include medium {
    text-align: left;
  }
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;

  @include medium {
    font-size: 3rem;
    line-height: 1.5;
  }
}

h2 {
  font-size: 2rem;
  line-height: 36px;

  @include medium {
    font-size: 2.3rem;
  }
}

h3 {
  font-size: 1.5rem;
}

.cta {
  display: block;
  margin: 0.5rem auto;
  text-decoration: none;
  padding: 0.8rem 0.5rem;
  width: 10rem;
  background: linear-gradient(90deg, rgba(49,211,92,1) 35%, rgba(43,218,210,1) 100%);
  color:$very-light-gray;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  @include medium{
    margin: 0;
  }

  &:hover {
    opacity: 0.8;
    transition: all ease-in-out 250ms;
  }

  &--hidden {
    display: none;

    @include medium-nav {
      display: block;
      margin: 0;
    }

    @include medium-nav {
      &-header {
        place-self: end;
      }
    }
  }

  &__footer {
    @include medium-nav {
      align-self: start;
      justify-self: end;
    }
  }
}